.about_body {
  background-color: black;
}

.about_main {
  margin-inline: 70px;
}

h2 {
  margin: 0px;
}

.about_heading0_suy {
  font-family: Bujji;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 39px;

  margin-bottom: 25px;
  margin-top: 75px;

  color: white;
}

.about_heading1_suy {
  font-family: Bujji;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 39px;

  margin-bottom: 25px;
  margin-top: 100px;

  color: white;
}

.about_heading2_suy {
  font-family: Bujji;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;

  margin-bottom: 60px;
  margin-top: 100px;

  color: white;
}

.about_heading3_suy {
  font-family: Bujji;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 39px;

  margin-bottom: 40px;
  margin-top: 100px;

  color: white;
}

.about_heading4_suy {
  display: none;
}

.h_text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  display: flex;
  align-items: center;

  color: #b5b0b0;
}

.items_suy {
  width: 200px;
  height: 250px;

  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: #b5b0b0;
}

.items_suy img {
  width: 200px;
  height: 200px;
}

.q_btn {
  background-color: black;
  background: transparent;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);

  padding: 25px;
}

.arrow_up {
  width: 2vw;
  width: 2vw;
  transform: rotate(180deg);
  transition: transform 230ms ease-in-out;
}
.arrow_down {
  width: 2vw;
  width: 2vw;
  transform: rotate(0deg);
  transition: transform 230ms ease-in-out;
}

.ques {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  color: white;
}

.q_ans {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;

  padding: 20px;
  border-color: #b5b0b0;
  color: #b5b0b0;
}

.acc_item {
  background: transparent;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);

  max-width: 1250px;

  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .about_main {
    margin-inline: 16px;
  }

  .about_heading0_suy {
    margin-top: 0px;
    margin-bottom: 13px;
    font-size: 20px;
  }

  .about_heading1_suy {
    margin-top: 35px;
    margin-bottom: 13px;
    font-size: 20px;
  }

  .h_text {
    font-size: 10px;
  }

  .about_heading2_suy {
    margin-top: 35px;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .about_heading3_suy {
    display: none;
  }

  .about_heading4_suy {
    font-family: Bujji;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 50px;
    display: block;
  }

  .items_suy img {
    width: 90px;
    height: 90px;
  }

  .items_suy {
    width: 90px;
    height: 110px;

    font-size: 10px;
  }

  .q_btn {
    border-bottom: 1px solid;
    padding-block: 8px;
    padding-inline: 12px;
  }

  .arrow_up {
    transform: rotate(180deg);
    transition: transform 230ms ease-in-out;
  }
  .arrow_down {
    transform: rotate(0deg);
    transition: transform 230ms ease-in-out;
  }

  .ques {
    font-size: 10px;

    color: white;
  }

  .q_ans {
    font-size: 10px;

    padding-bottom: 6px;
    padding-top: 10px;
    color: #b5b0b0;
  }

  .acc_item {
    border: 1px solid;
    background: transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(225deg, #b2016b, #1e149d);

    max-width: 330px;

    margin-bottom: 15px;
  }
}
