@font-face {
  font-family: Bujji;
  src: url("../../../public/Matroska.ttf");
}

.single-viewbutton {
  color: white;
  font-family: bujji;
  font-weight: 900;
  font-size: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background: linear-gradient(90deg, #b2016b 46.26%, #1e149d 94.71%);
  -webkit-transition: background 2s ease-out; /* Safari */
  transition: background 2s ease-out;
}
.single-viewbutton:hover {
  background: transparent;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);
}

.single-buttontext {
  color: white;
  font-family: "bujji";
  font-style: normal;
  font-size: 15px;
  display: flex;
  margin-block: 15px;
  margin-inline: 50px;

  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.single-event {
  margin: 70px;
}
.s1div {
  display: flex;
}

.s1adiv {
  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);
  float: left;

  box-sizing: border-box;
}
.s1bdiv {
  float: right;
  margin-left: 74px;
}
.Posterimg {
  width: 360px;
  height: 450px;
  padding: 13px;

  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);
}

.s1bdiv {
  float: right;
}

.s2div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.content-box {
  font-family: "Poppins";
  font-size: 22px;
  padding: 35px;
  text-align: justify;

  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);

  color: #b5b0b0;
}

.single_vis {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: black;
}

.event-title {
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: bujji;
  font-size: 40px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.eventdesc {
  margin-top: 50px;

  font-family: "Poppins";
  font-size: 22px;

  display: flex;
  align-items: center;

  color: #b5b0b0;
}
.details-event {
  margin-top: 30px;
  display: flex;
  max-width: 540px;
  justify-content: space-between;
}
.details-title {
  margin-top: 20px;

  font-family: bujji;
  font-size: 22px;
  color: #ffffff;
}
.details-num {
  display: flex;
  color: #ffffff;
  justify-content: center;
  font-size: 22px;
  font-family: bujji;
  padding: 15px;
  padding-inline: 40px;
  width: 140px;

  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #b2016b, #1e149d);

  box-sizing: content-box;
}
.topic {
  font-family: bujji;
  font-size: 35px;
  display: flex;
  align-items: center;

  background: linear-gradient(99.32deg, #b2016b 0%, #1e149d 119.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 667px) {
  .single-event {
    margin: 20px;
  }
  .s1div {
    justify-content: center;
    flex-wrap: wrap;
  }
  .s1adiv {
    width: 150px;
    height: 187.5px;
    margin-bottom: 20px;
  }
  .s1bdiv {
    margin: 0px;
  }

  .Posterimg {
    width: 135px;
    height: 170px;
    margin-bottom: 15px;
    padding: 5px;

    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(225deg, #b2016b, #1e149d);
  }
  .event-title {
    font-size: 15px;
    margin: 31px 0px -12px 0;
  }
  .eventdesc {
    font-size: 10px;
    margin-top: 15px;
  }
  .details-event {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .details-title,
  .details-num {
    /* width: 42%; */
    font-size: 15px;
    margin-bottom: 10px;
  }
  .details-num {
    font-size: 10px;
    height: 42%;
    width: 128px;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(225deg, #b2016b, #1e149d);
  }
  .topic {
    font-size: 20px;
    justify-content: center;
  }

  .content-box {
    font-size: 10px;
    padding: 12px;

    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(225deg, #b2016b, #1e149d);
  }
}
